In [1]:
import pandas as pd
import numpy as np
import featuretools as ft

In [2]:
data = pd.read_csv('data_OPS.csv')
data = data.drop(columns=['Name'])
ID = data.drop(columns=['HOMO', 'LUMO', 'f_S1', 'E_T1', 'dDM'])
data.head()

     ID     HOMO     LUMO    f_S1    E_T1      dDM
0  OPS1 -0.20639 -0.08880  0.1850  3.0330  14.2242
1  OPS2 -0.19621 -0.08203  0.1207  2.9803  17.0602
2  OPS3 -0.19686 -0.08286  0.1881  2.9538  15.6786
3  OPS4 -0.22360 -0.11433  0.1235  3.0271   8.3097
4  OPS5 -0.18540 -0.07855  0.1658  2.8555   7.2548

In [3]:
es = ft.EntitySet(id="propertiy_data")
es = es.add_dataframe(dataframe_name='properties', dataframe=data, index='ID')
es['properties']

C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\inference_functions.py:27: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if pdtypes.is_categorical_dtype(series.dtype):
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\inference_functions.py:189: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  pdtypes.is_categorical_dtype(series.dtype)
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\inference_functions.py:27: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if pdtypes.is_categorical_dtype(series.dtype):

            ID     HOMO     LUMO    f_S1    E_T1      dDM
OPS1      OPS1 -0.20639 -0.08880  0.1850  3.0330  14.2242
OPS2      OPS2 -0.19621 -0.08203  0.1207  2.9803  17.0602
OPS3      OPS3 -0.19686 -0.08286  0.1881  2.9538  15.6786
OPS4      OPS4 -0.22360 -0.11433  0.1235  3.0271   8.3097
OPS5      OPS5 -0.18540 -0.07855  0.1658  2.8555   7.2548
...        ...      ...      ...     ...     ...      ...
OPS96    OPS96 -0.31605 -0.20514  0.7688  2.4265   8.9657
OPS97    OPS97 -0.37171 -0.24487  0.1372  2.3724   1.9438
OPS98    OPS98 -0.36065 -0.23429  0.1943  2.3400   2.0593
OPS99    OPS99 -0.33825 -0.23168  0.0001  2.3388   2.2735
OPS100  OPS100 -0.32707 -0.20915  0.0000  2.4683   6.2907

[100 rows x 6 columns]

In [4]:
feature_matrix, feature_defs = ft.dfs(entityset=es,
                                      target_dataframe_name='properties',
                                      trans_primitives=['percentile'],
                                      agg_primitives=[],
                                      max_depth=1)
feature_matrix

,HOMO,LUMO,f_S1,E_T1,dDM,PERCENTILE(E_T1),PERCENTILE(HOMO),PERCENTILE(LUMO),PERCENTILE(dDM),PERCENTILE(f_S1)
ID,,,,,,,,,,
OPS1,-0.20639,-0.08880,0.1850,3.0330,14.2242,0.70,0.280,0.260,0.88,0.440
OPS2,-0.19621,-0.08203,0.1207,2.9803,17.0602,0.59,0.450,0.365,0.92,0.320
OPS3,-0.19686,-0.08286,0.1881,2.9538,15.6786,0.55,0.435,0.340,0.91,0.450
OPS4,-0.22360,-0.11433,0.1235,3.0271,8.3097,0.68,0.150,0.100,0.72,0.330
OPS5,-0.18540,-0.07855,0.1658,2.8555,7.2548,0.44,0.660,0.400,0.67,0.410
...,...,...,...,...,...,...,...,...,...,...
OPS96,-0.31605,-0.20514,0.7688,2.4265,8.9657,0.19,0.070,0.070,0.75,0.710
OPS97,-0.37171,-0.24487,0.1372,2.3724,1.9438,0.18,0.010,0.010,0.37,0.370
OPS98,-0.36065,-0.23429,0.1943,2.3400,2.0593,0.17,0.020,0.020,0.39,0.460
OPS99,-0.33825,-0.23168,0.0001,2.3388,2.2735,0.16,0.050,0.030,0.41,0.125
OPS100,-0.32707,-0.20915,0.0000,2.4683,6.2907,0.23,0.060,0.060,0.66,0.060

In [5]:
feature_matrix = feature_matrix.drop(columns=['HOMO', 'LUMO', 'f_S1', 'E_T1', 'dDM'])
feature_matrix

,PERCENTILE(E_T1),PERCENTILE(HOMO),PERCENTILE(LUMO),PERCENTILE(dDM),PERCENTILE(f_S1)
ID,,,,,
OPS1,0.70,0.280,0.260,0.88,0.440
OPS2,0.59,0.450,0.365,0.92,0.320
OPS3,0.55,0.435,0.340,0.91,0.450
OPS4,0.68,0.150,0.100,0.72,0.330
OPS5,0.44,0.660,0.400,0.67,0.410
...,...,...,...,...,...
OPS96,0.19,0.070,0.070,0.75,0.710
OPS97,0.18,0.010,0.010,0.37,0.370
OPS98,0.17,0.020,0.020,0.39,0.460
OPS99,0.16,0.050,0.030,0.41,0.125
OPS100,0.23,0.060,0.060,0.66,0.060

In [6]:
feature_matrix = np.array(feature_matrix)
feature_matrix = pd.DataFrame(feature_matrix, columns=['P(E_T1)', 'P(HOMO)', 'P(LUMO)', 'P(dDM)', 'P(f_S1)'])
feature_matrix = pd.concat([ID, feature_matrix], axis=1, join='inner')
feature_matrix

        ID  P(E_T1)  P(HOMO)  P(LUMO)  P(dDM)  P(f_S1)
0     OPS1     0.70    0.280    0.260    0.88    0.440
1     OPS2     0.59    0.450    0.365    0.92    0.320
2     OPS3     0.55    0.435    0.340    0.91    0.450
3     OPS4     0.68    0.150    0.100    0.72    0.330
4     OPS5     0.44    0.660    0.400    0.67    0.410
..     ...      ...      ...      ...     ...      ...
95   OPS96     0.19    0.070    0.070    0.75    0.710
96   OPS97     0.18    0.010    0.010    0.37    0.370
97   OPS98     0.17    0.020    0.020    0.39    0.460
98   OPS99     0.16    0.050    0.030    0.41    0.125
99  OPS100     0.23    0.060    0.060    0.66    0.060

[100 rows x 6 columns]

In [7]:
feature_matrix.to_csv('data_DFS1.csv', index=False)