In [1]:
import pandas as pd
import numpy as np
import featuretools as ft

In [2]:
data = pd.read_csv('data_OPS.csv')
data = data.drop(columns=['Name'])
ID = data.drop(columns=['HOMO', 'E_S1', 'f_S1', 'E_T1', 'dEST', 'dDM'])
data.head()

     ID     HOMO    E_S1    f_S1    E_T1    dEST     dDM
0  OPS1 -0.20639  3.2620  0.1850  3.0330  0.2290  4.6952
1  OPS2 -0.19621  3.1887  0.1207  2.9803  0.2084  6.1138
2  OPS3 -0.19686  3.1729  0.1881  2.9538  0.2191  5.1244
3  OPS4 -0.22360  3.1927  0.1235  3.0271  0.1656  6.2874
4  OPS5 -0.18540  3.0441  0.1658  2.8555  0.1886  6.2109

In [3]:
es = ft.EntitySet(id="propertiy_data")
es = es.add_dataframe(dataframe_name='properties', dataframe=data, index='ID')
es['properties']

C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\inference_functions.py:27: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if pdtypes.is_categorical_dtype(series.dtype):
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\inference_functions.py:189: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  pdtypes.is_categorical_dtype(series.dtype)
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\inference_functions.py:27: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if pdtypes.is_categorical_dtype(series.dtype):

            ID     HOMO    E_S1    f_S1    E_T1    dEST     dDM
OPS1      OPS1 -0.20639  3.2620  0.1850  3.0330  0.2290  4.6952
OPS2      OPS2 -0.19621  3.1887  0.1207  2.9803  0.2084  6.1138
OPS3      OPS3 -0.19686  3.1729  0.1881  2.9538  0.2191  5.1244
OPS4      OPS4 -0.22360  3.1927  0.1235  3.0271  0.1656  6.2874
OPS5      OPS5 -0.18540  3.0441  0.1658  2.8555  0.1886  6.2109
...        ...      ...     ...     ...     ...     ...     ...
OPS96    OPS96 -0.31605  3.0209  0.7688  2.4265  0.5944  6.3515
OPS97    OPS97 -0.37171  3.4880  0.1372  2.3724  1.1156  0.6131
OPS98    OPS98 -0.36065  3.4440  0.1943  2.3400  1.1040  1.1156
OPS99    OPS99 -0.33825  3.0716  0.0001  2.3388  0.7328  1.1618
OPS100  OPS100 -0.32707  3.2876  0.0000  2.4683  0.8193  1.2663

[100 rows x 7 columns]

In [4]:
feature_matrix, feature_defs = ft.dfs(entityset=es,
                                      target_dataframe_name='properties',
                                      trans_primitives=['percentile'],
                                      agg_primitives=[],
                                      max_depth=1)
feature_matrix

,HOMO,E_S1,f_S1,E_T1,dEST,dDM,PERCENTILE(E_S1),PERCENTILE(E_T1),PERCENTILE(HOMO),PERCENTILE(dDM),PERCENTILE(dEST),PERCENTILE(f_S1)
ID,,,,,,,,,,,,
OPS1,-0.20639,3.2620,0.1850,3.0330,0.2290,4.6952,0.39,0.70,0.280,0.67,0.10,0.440
OPS2,-0.19621,3.1887,0.1207,2.9803,0.2084,6.1138,0.29,0.59,0.450,0.81,0.07,0.320
OPS3,-0.19686,3.1729,0.1881,2.9538,0.2191,5.1244,0.28,0.55,0.435,0.70,0.08,0.450
OPS4,-0.22360,3.1927,0.1235,3.0271,0.1656,6.2874,0.30,0.68,0.150,0.83,0.04,0.330
OPS5,-0.18540,3.0441,0.1658,2.8555,0.1886,6.2109,0.15,0.44,0.660,0.82,0.05,0.410
...,...,...,...,...,...,...,...,...,...,...,...,...
OPS96,-0.31605,3.0209,0.7688,2.4265,0.5944,6.3515,0.11,0.19,0.070,0.84,0.61,0.710
OPS97,-0.37171,3.4880,0.1372,2.3724,1.1156,0.6131,0.58,0.18,0.010,0.26,0.90,0.370
OPS98,-0.36065,3.4440,0.1943,2.3400,1.1040,1.1156,0.54,0.17,0.020,0.30,0.88,0.460
OPS99,-0.33825,3.0716,0.0001,2.3388,0.7328,1.1618,0.18,0.16,0.050,0.31,0.79,0.125
OPS100,-0.32707,3.2876,0.0000,2.4683,0.8193,1.2663,0.41,0.23,0.060,0.33,0.82,0.060

In [5]:
feature_matrix = feature_matrix.drop(columns=['HOMO', 'E_S1', 'f_S1', 'E_T1', 'dEST', 'dDM'])
feature_matrix

,PERCENTILE(E_S1),PERCENTILE(E_T1),PERCENTILE(HOMO),PERCENTILE(dDM),PERCENTILE(dEST),PERCENTILE(f_S1)
ID,,,,,,
OPS1,0.39,0.70,0.280,0.67,0.10,0.440
OPS2,0.29,0.59,0.450,0.81,0.07,0.320
OPS3,0.28,0.55,0.435,0.70,0.08,0.450
OPS4,0.30,0.68,0.150,0.83,0.04,0.330
OPS5,0.15,0.44,0.660,0.82,0.05,0.410
...,...,...,...,...,...,...
OPS96,0.11,0.19,0.070,0.84,0.61,0.710
OPS97,0.58,0.18,0.010,0.26,0.90,0.370
OPS98,0.54,0.17,0.020,0.30,0.88,0.460
OPS99,0.18,0.16,0.050,0.31,0.79,0.125
OPS100,0.41,0.23,0.060,0.33,0.82,0.060

In [6]:
feature_matrix = np.array(feature_matrix)
feature_matrix = pd.DataFrame(feature_matrix, columns=['P(E_S1)', 'P(E_T1)', 'P(HOMO)', 'P(dDM)', 'P(dEST)', 'P(f_S1)'])
feature_matrix = pd.concat([ID, feature_matrix], axis=1, join='inner')
feature_matrix

        ID  P(E_S1)  P(E_T1)  P(HOMO)  P(dDM)  P(dEST)  P(f_S1)
0     OPS1     0.39     0.70    0.280    0.67     0.10    0.440
1     OPS2     0.29     0.59    0.450    0.81     0.07    0.320
2     OPS3     0.28     0.55    0.435    0.70     0.08    0.450
3     OPS4     0.30     0.68    0.150    0.83     0.04    0.330
4     OPS5     0.15     0.44    0.660    0.82     0.05    0.410
..     ...      ...      ...      ...     ...      ...      ...
95   OPS96     0.11     0.19    0.070    0.84     0.61    0.710
96   OPS97     0.58     0.18    0.010    0.26     0.90    0.370
97   OPS98     0.54     0.17    0.020    0.30     0.88    0.460
98   OPS99     0.18     0.16    0.050    0.31     0.79    0.125
99  OPS100     0.41     0.23    0.060    0.33     0.82    0.060

[100 rows x 7 columns]

In [7]:
feature_matrix.to_csv('data_DFS1.csv', index=False)